{% extends 'base.html' %}

{% block title %}
<title>Attendance Report</title>
{% endblock title %}

{% block attnavbar %}<a class="nav-link active" aria-current="page" href="/att_report">Attendance</a>{% endblock attnavbar %} 

{% block content %}

<div class = "container">
<div class="row">
    <div class="col">
        <br>
        <div class = "container">
              <div class="card text-center">
                  <h5 class="card-header"> Get Attendance Report </h5>
                     <div class="card-body">
                       <br>
                       <div class = "container">
                          <form class="row" action = "/att_report" method = "POST">
                              {% csrf_token %}
                
                              <div class="col-auto">
                                  <select class="form-select" name = "name" id = "name">
                                     <option selected="selected" >Select Employee</option>
                                     {% for employee in employees %}
                                    <option value="{{employee.name}}">{{employee.name}}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                    
                              <div class="col-auto">
                                  <select class="form-select" name = "month" id = "month">
                                        <option selected="selected" >Select month</option> 
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                  </select>
                               </div>

                               <div class="col-auto">
                                  <select class="form-select" name = "year" id = "year">
                                    <option selected="selected" >Select Year</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                  </select>
                               </div>

                               <div class="col-auto">
                                  <button type="submit" class="btn btn-primary mb-3">Get </button>
                               </div>
                          </form>
                          

                        </div>
                   </div>
                 </div>
             </div>
             <br>
             {% if attendance %}
             <div class = "container">
                <div class="card text-center">
                    <h5 class="card-header text-primary">Report Generated For <b>{{name}}</b>. Duration: {{month}}/{{year}}</h5>
                       <div class="card-body">
                           <table class="table table-striped-columns table-hover">
                               <thead>
                               <tr>
                                   <th scope="col">Date</th>
                                   <th scope="col">Value</th>
                               </tr>
                               </thead>
                               <tbody>
                                   {% for att in attendance %}
                                   <tr>
                                       <td>{{att.date}}</td>
                                       <td>{{att.value}}</td>
                                   </tr>
                                   {% endfor %}     
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               {% else %}
                 <p class ="text-center text-danger">No results found or you haven't selected any Employee</p>
               {% endif %}

        </div>
    {% if attendance %}
    <div class = "col-4">
      <br>
       <div class = "container">
         <div class="card text-center text-success">
            <h5 class="card-header text-primary"> Total Days and Pay </h5>
              <div class="card-body">
                <h3>Days : {{total}} <br><hr style="height:2px;border-width:0;color:red;background-color:red"> Pay : &#8377; {{pay}} </h3>
             </div>
           </div>
        </div>
    
    </div>
    {% else %}
    {% endif %}
 
</div>
</div>  
{% endblock content %}
