{% extends 'base.html' %}

{% block title %}
<title>Customer Billing</title>
{% endblock title %}

{% block content %}

<div class = "container text-center">
    <br>

    <div class = "row">
       <div class = "col">
            
            {% for message in messages %}         
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div> 
            {% endfor %}

            <div class="card">
                <h5 class="card-header">Select Customer to Bill</h5>
                <div class="card-body">
                    <br>
                    {% if cust %}
                        <form class="row" action = "/c_billing" method = "GET">
                            
                                {% csrf_token %}
                                <div class = "row">
                                   
                                    <div class="col">
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{cust}}"  disabled readonly>
                                    </div>
                                    
                                    <div class="col">
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{type}}" disabled readonly>
                                    </div>
                                    
        
                                    <div class="col">
                                        <button type="submit" class="btn btn-success mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                          </svg> New Bill</button>
                                     </div>
                                </div>
     
                       </form>
                    {% else %}
                    
                    <form class="row" action = "/c_billing" method = "POST">
                        {% csrf_token %}
                        <input type="text" readonly class="visually-hidden" id="labour" name ="labour" value=''>
                        <input type="text" readonly class="visually-hidden" id="price" name ="price" value=''>
                        <input type="text" readonly class="visually-hidden" id="lpay" name ="lpay" value=''>
                        <div class="col-auto">
                            <select class="form-select" name = "customer" id = "customer">
                               <option selected="selected" >Select Customer</option>
                               {% for cust in customers %}
                              <option value="{{cust.name}}">{{cust.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                         
                        <div class="col-auto">
                            <select class="form-select" name = "type" id = "type">
                                <option selected="selected" >Select Item Type</option>
                                <option value="All">All</option>
                                {% for types in itemtypes %}
                                <option value="{{types.type}}">{{types.type}}</option>
                                {% endfor %}
                            </select>
                        </div>

                         <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Get Details</button>
                         </div>
                    </form>
                    {% endif %}
                    <br>
                </div>
            </div>
    
       </div>

       <div class = "col">
          {% if cust %}
          
         
           <div class = "row">
             <div class = "col">
                <div class="card">
                    <h5 class="card-header">Add Labour Payment</h5>
                    <div class="card-body">
                        <form action = "/c_billing" method = 'POST'>
                            {% csrf_token %}
                            <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{cust}}">
                            <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{type}}">
                            <input type="text" readonly class="visually-hidden" id="labour" name ="labour" value=''>
                            <input type="text" readonly class="visually-hidden" id="price" name ="price" value=''>
                                  <input type="Number" class="form-control" id="lpay" name="lpay" placeholder = "Amount in &#8377;" required ="">
                                  <br>
                                  <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                                  </svg>  Add </button>   
                        </form>
                    </div>
                </div>
             </div>
             <div class = "col">
                <div class="card">
                    <h5 class="card-header">Labour Payment received</h5>
                    <div class="card-body">
                        <br>
                    <h5 class="card-title text-success">&#8377; {{lpayment}}</h5>
                    <br>
                    <br>
                    </div>
                </div>
             </div>
           </div>
            
   
           {% else %}
           {% endif %}
       </div>

    </div>
    
    <br>
    {% if cust %}
    
    <hr>
    <h4 class ="text-center text-danger">Create Bill</h4>
    <hr>
    <br>
    <div class = "row">
        <div class = "col">
            <div class="card">
                <div class="card-header">
                  Generated Material List
                </div>
                <div class="card-body">
                    {% for mat in matlist %}
                                  <form class="row" action = "/c_billing" method = "POST">
                                    {% csrf_token %}
                                
                                    <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{cust}}">
                                    <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{type}}">
                                    <input type="text" readonly class="visually-hidden" id="item" name ="item" value="{{mat.item}}">
                                    <input type="text" readonly class="visually-hidden" id="brand" name ="brand" value="{{mat.brand}}">
                                    <input type="text" readonly class="visually-hidden" id="labour" name ="labour" value=''>
                                    <input type="text" readonly class="visually-hidden" id="lpay" name ="lpay" value=''>

                                    <div class="col">
                                       <input class="form-control" type="text" name = "item" id = "item" value="{{mat.item}}" disabled readonly>
                                    </div>

                                    <div class="col">
                                       <input class="form-control" type="text" name = "brand" id = "brand" value="{{mat.brand}}" disabled readonly>
                                    </div>
                                    
                                    <div class="col">
                                        <input class="form-control" type="number" min = 0 name = "quantity" id = "quantity" required = "" placeholder="Quantity" value="{{mat.quantity}}" > 
                                    </div>

                                    <div class="col">
                                        <input class="form-control" type="number" min = 0 name = "price" id = "price" required = "" placeholder="1 Price"> 
                                    </div>
                        
                                    <div class="col">
                                    <button type="submit" class="btn btn-dark mb-3 bi bi-chevron-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></button>
                                    </div>
                                </form>
                                  {% endfor %}
                                <hr>
                                <form class="row" action = "/c_billing" method = "POST">
                                    {% csrf_token %}
                                    <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{cust}}">
                                    <input type="text" readonly class="visually-hidden" id="ltype" name ="ltype" value="Labour">
                                    <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{type}}">
                                    <input type="text" readonly class="visually-hidden" id="price" name ="price" value=''>
                                    <input type="text" readonly class="visually-hidden" id="lpay" name ="lpay" value=''>

                                    <div class="col">
                                        <input class="form-control" type="number" min = 0 name = "labour" id = "labour" required = "" placeholder="Labour Charges"> 
                                    </div>
                        
                                    <div class="col">
                                    <button type="submit" class="btn btn-dark mb-3 bi bi-chevron-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></button>
                                    </div>

                                </form>
                </div>
              </div>
        </div>
        <div class = "col">
            <div class="card">
                <div class="card-header">
                  Final Bill
                </div>
                <div class="card-body">
                    {% for mpr in mprice %}
                        <form class="row" action = "/c_billing" method = "POST">
                            {% csrf_token %}
                        
                            <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{cust}}">
                            <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{type}}">
                            <input type="text" readonly class="visually-hidden" id="item" name ="item" value="{{mpr.item}}">
                            <input type="text" readonly class="visually-hidden" id="brand" name ="brand" value="{{mpr.brand}}">
                            <input type="text" readonly class="visually-hidden" id="labour" name ="labour" value=''>
                            <input type="text" readonly class="visually-hidden" id="lpay" name ="lpay" value=''>
                            <input type="number" readonly class="visually-hidden" id="quantity" name ="quantity" value="{{mpr.quantity}}">
                            <input type="number" readonly class="visually-hidden" id="price" name ="price" value= 0 >
                            
                            <div class="col">
                                <button type="submit" class="btn btn-dark mb-3 bi ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                </button>
                                </div>

                            <div class="col">
                                <input class="form-control" type="text" name = "item" id = "item" value="{{mpr.item}}" disabled readonly>
                            </div>

                            <div class="col">
                                <input class="form-control" type="text" name = "brand" id = "brand" value="{{mpr.brand}}" disabled readonly>
                            </div>
                            
                            <div class="col">
                                <input class="form-control" type="number" min = 0 name = "quantity" id = "quantity" required = "" placeholder="Quantity" value="{{mpr.quantity}}" disabled readonly> 
                            </div>

                            <div class="col">
                                <input class="form-control" type="number" min = 0 name = "price" id = "price" required = "" value="{{mpr.price}}" disabled readonly> 
                            </div>
                            
                        </form>
                    {% endfor %}
                </div>

           </div>

           <hr>
           <div class = "row">
                <div class = "col">
                    <h5 class = "text-start">Material Total </h5>
                </div>
                <div class = "col">
                    <h5 class = "text-end">  &#8377; {{mptotal}} </h5>
                </div>
           </div>

           <hr>
           <div class = "row">
                <div class = "col">
                    <h5 class = "text-start">Labour Charges </h5>
                </div>
                <div class = "col">
                    <h5 class = "text-end text-danger"> + &#8377; {{labourc}} </h5>
                </div>
           </div>
           
           <hr>
           <div class = "row">
            <div class = "col">
                <h5 class = "text-start">Total </h5>
            </div>
            <div class = "col">
                <h5 class = "text-end text-primary"> &#8377; {{gtotal}} </h5>
            </div>
            </div>
           

           

        </div>
        
    </div>
    
    {% else %}
    <p class = "text-center text-danger">No results Found or You haven't Selected any Customer.</p>
    {% endif %}
    
    {% if cust %}
    <br>
       <div class ="container">
            <form class="row" action = "/new_pdf" method = "POST">
                {% csrf_token %}
                <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{cust}}">
                <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{type}}">
                <input type="number" readonly class="visually-hidden" id="price" name ="price" value = '1'>
                
                <div class="col">
                   <button type="submit" class="btn btn-success mb-3 text-end">Print
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg>
                   </button>
                </div>
            </form>
        </div>
    {% else %}
    {% endif %}


</div>


{% endblock content %}











