{% extends 'base.html' %}

{% block title %}
<title>Create Material List</title>
{% endblock title %}


{% block content %}

<div class ="row">
    <div class = "col">
         <div class = "container">
             <br>
             <h1 class = "text-center">Create Material List</h1>
             <br>
             <div class="card text-center">
                 <h5 class="card-header">
                    Choose Customer and Item Type
                 </h5>
                 {% if cust %}
                    <div class="card-body">
                        <form class="row" action = "/mat_list" method = "POST">
                            <fieldset disabled>
                                {% csrf_token %}
                            <div class = "row">
                                <div class="col-auto">
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{cust}}">
                                </div>
                                
                                <br>

                                <div class="col-auto">
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{type}}">
                                </div>
                            </div>
                           </fieldset>
                        </form>
                   </div>
                        {% else %}
                        <div class="card-body">
                            <form class="row" action = "/mat_list" method = "POST">
                                {% csrf_token %}
                            
                                <div class="col-auto">
                                    <select class="form-select" name = "name" id = "name">
                                        <option selected="selected" >Select Customer</option>
                                        {% for customer in customers %}
                                        <option value="{{customer.name}}">{{customer.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col-auto">
                                    <select class="form-select" name = "type" id = "type">
                                        <option selected="selected" >Select Item Type</option>
                                        {% for types in itemtypes %}
                                        <option value="{{types.type}}">{{types.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                    
                                <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Create</button>
                                </div>
                            </form>
                        </div>
                 {% endif %}
                 
             </div>
             <br>   
         </div>
         <br>
         {% if cust and items %}
            <div class = "col">
                <div class = "container">    
                    <div class = "row">
        
                        <div class = "col">
                            <div class="card">
                                <h5 class="card-header">Choose Items to Add</h5>
                                <div class="card-body">
                                  {% for item in items %}
                                  <form class="row" action = "/add_material" method = "POST">
                                    {% csrf_token %}
                                
                                    <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{cust}}">
                                    <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{type}}">
                                    <input type="text" readonly class="visually-hidden" id="item" name ="item" value="{{item.name}}">
                                    <input type="text" readonly class="visually-hidden" id="brand" name ="brand" value="{{item.brand}}">

                                    <div class="col">
                                       <input class="form-control" type="text" name = "item" id = "item" value="{{item.name}}" disabled readonly>
                                    </div>

                                    <div class="col">
                                       <input class="form-control" type="text" name = "brand" id = "brand" value="{{item.brand}}" disabled readonly>
                                    </div>
                                    
                                    <div class="col">
                                        <input class="form-control" type="number" min = 0 name = "quantity" id = "quantity" required = "" placeholder="Quantity"> 
                                    </div>
                        
                                    <div class="col">
                                    <button type="submit" class="btn btn-dark mb-3 bi bi-chevron-right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></button>
                                    </div>
                                </form>
                                  {% endfor %}
                                </div>
                              </div>
                        </div>
        
                        <div class = "col">
                            <div class="card">
                                <h5 class="card-header">Items Added</h5>
                                <div class="card-body">
                                    {% for mat in matlist %}

                                    <form class="row" action = "/delete_material" method = "POST">
                                        {% csrf_token %}
                                        
                                        <input type="text" readonly class="visually-hidden" id="customer" name ="customer" value="{{mat.customer}}">
                                        <input type="text" readonly class="visually-hidden" id="type" name ="type" value="{{mat.type}}">
                                        <input type="text" readonly class="visually-hidden" id="id" name ="id" value="{{mat.id}}">

                                        <div class="col">
                                           <input class="form-control" type="text" name = "item" id = "item" value="{{mat.item}}" disabled readonly>
                                        </div>

                                        <div class="col">
                                            <input class="form-control" type="text" name = "brand" id = "brand" value="{{mat.brand}}" disabled readonly>
                                         </div>
                                        
                                        <div class="col">
                                            <input class="form-control" type="text" name = "quantity" id = "quantity"  value = "{{mat.quantity}}" disabled readonly> 
                                        </div>
                                        
                                        <div class="col">
                                            <button type="submit" class="btn btn-danger mb-3 bi bi-chevron-right">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                        
                                    </form>
                                                                        
                                    {% endfor %}
                                </div>
                              </div>
                        </div>
        
                    </div>
                <div>
            <div>
                <br>
                <hr>
                <br>
                <form class="row" action = "/new_material" method = "POST">
                    {% csrf_token %}
                    
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3 bi bi-chevron-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Create New List 
                        </button>
                    </div>
                    
                </form>

        {% elif cust %}
       
        <div class = "container">
        <form class="row" action = "/new_material" method = "POST">
            {% csrf_token %}
            
            <div class="col">
                <button type="submit" class="btn btn-success mb-3 bi bi-chevron-right">
                     No Items Found for Item Type. Click To reload.
                </button>
            </div>
            
        </form>
        
    </div>
        {% endif %} 
     </div>

</div>
{% endblock content %}