{% extends 'base.html' %}
{% load static %}
<!--{% load static %} : You can load static files from static directory using this -->

{% block title %}
<title>Add Item</title>
{% endblock title %}

{% block adminnavbar %}<a class="nav-link active" aria-current="page" href="/local_admin">Admin</a>{% endblock adminnavbar %} 

{% block content %}

<br>
<h1 class = 'text-center'>Add Item</h1>
<hr>
<br>

<section class="vh-100">
    <div class="container py-5 h-90">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
         <img src= {% static 'items_logo.png' %}
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form action = "/add_item" method = 'POST'>
            {% csrf_token %}

            {% for message in messages %}         
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div> 
            {% endfor %}
            
            <!-- Name input -->
            <div class="form-outline mb-4">
              <label for="name" class="form-label">Item Name</label>
              <input id="name" name = "name" type="text" required="" class="form-control form-control-lg" />
            </div>

             <!-- Item Type -->
             <label for="type" class="form-label">Item Type</label>
             <select class="form-select form-select-lg mb-3" aria-label="Default select example" id = "type" name = "type">
              <option selected> </option>
                {% for items in itemtypes %}
                   <option value = "{{items.type}}">{{items.type}}</option>
                {% endfor %}
              </select>

              <!-- Brand -->
             <label for="type" class="form-label">Brand</label>
             <select class="form-select form-select-lg mb-3" aria-label="Default select example" id = "brand" name = "brand">
              <option selected> </option>
                {% for brand in brands %}
                   <option value = "{{brand.name}}">{{brand.name}}</option>
                {% endfor %}
              </select>

            <!-- Price -->
            <div class="form-outline mb-4">
             <label for="price" class="form-label">Price</label>
              <input type="Number" id="price" name = "price" placeholder="Price" min = "0" value = 0 class="form-control form-control-lg" />
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
  
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}