{% extends 'base.html' %}

{% block title %}
<title>Get Employee Total Bill</title>
{% endblock title %}


{% block content %}

<div class = "container">
    <div class="row">
        <div class="col">
            <br>
            {% for message in messages %}         
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div> 
            {% endfor %}
            <div class = "container">
                <div class="card text-center">
                    <h5 class="card-header">
                    Get Employee Total Bill
                    </h5>
                    <div class="card-body">
                        <div class = "container">
                            <form class="row" action = "/e_billing" method = "POST">
                                {% csrf_token %}
                               
                                <div class = "col-auto">
                                    
                                </div>
                                {% if employee %}
                                <fieldset disabled>
                                <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Data Displayed For Employee</label>
                                    <input type="text" id="name" class="form-control" placeholder={{employee}}>
                                  </div>
                                </fieldset>
                                
                                {% else %}

                                <div class="col-auto">
                                    <select class="form-select" name = "name" id = "name">
                                    <option selected="selected" >Select Employee</option>
                                    {% for employee in employees %}
                                    <option value="{{employee.name}}">{{employee.name}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <input type="text" readonly class="visually-hidden" id="month" name = "month" value=''>
                                <input type="text" readonly class="visually-hidden" id="year" name = "year" value=''>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Get </button>
                                </div>

                                {% endif %}

                            </form>
                            
                        
                        </div>
                        
                    </div>
                    {% if employee %}
                    <div class="card-footer">
                        <div class = "row">
                            <div class = "col-auto">
                            </div>
                            <div class = "col-auto">
                                <form class="row" action = "/e_billing" method = "GET">
                                    <button type="submit" class="btn btn-success mb-3">
                                          Get Details for Another Employee 
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                          </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    {% else %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
       {% if flag == 1 %}
        
      
        <div class = "col">
            <br>
            <div class = "container">
                <div class="card mb-3 text-center">
                    <h5 class="card-header">
                       Add Payment Data
                    </h5>
                    <div class="card-body">
                        <div class = "container">
                            <form class="row" action = "/e_billing" method = "POST">
                                {% csrf_token %}
                               
                                <div class = "col-auto">
                                    
                                </div>
                                <input type="text" readonly class="visually-hidden" id="name" name = "name" value="{{employee}}">

                                <div class="col-auto">
                                    <select class="form-select" name = "month" id = "month">
                                          <option selected="selected" >Select month</option> 
                                          <option value="01">January</option>
                                          <option value="02">February</option>
                                          <option value="03">March</option>
                                          <option value="04">April</option>
                                          <option value="05">May</option>
                                          <option value="06">June</option>
                                          <option value="07">July</option>
                                          <option value="08">August</option>
                                          <option value="09">September</option>
                                          <option value="10">October</option>
                                          <option value="11">November</option>
                                          <option value="12">December</option>
                                    </select>
                                 </div>

                                 <div class="col-auto">
                                    <select class="form-select" name = "year" id = "year">
                                      <option selected="selected" >Select Year</option>
                                      <option value="2021">2021</option>
                                      <option value="2022">2022</option>
                                      <option value="2023">2023</option>
                                      <option value="2024">2024</option>
                                      <option value="2025">2025</option>
                                      <option value="2026">2026</option>
                                      <option value="2027">2027</option>
                                      <option value="2028">2028</option>
                                      <option value="2029">2029</option>
                                      <option value="2030">2030</option>
                                    </select>
                                 </div>

      
                                 <div class = "col-auto">
                                    <input type="number" class="form-control" id="amount" name="amount" min = 0 max = 10000 step = 50  required ="">
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Add</button>
                                </div>
                            </form>
                            
                        
                        </div>
                        
                    </div>
                </div>
               
                <div class="card text-center">
                        <h5 class="card-header">
                        Advanced Paid
                        </h5>
                        <div class="card-body">
                            <h5 class="card-title text-success">&#8377;{{advance}}</h5>
                        
                        </div>
                </div>

            </div>
       </div>
    
    </div>
       <div class = "container">
      <br>
      <br>
      <h3 class = "text-center text-warning" >-- Logs For Last 6 Months --</h3>
      <hr>
      <br>
      <br>
                     <div class = "row">
                            <div class = "col-6">
                                <div class="card  mb-3 text-center" style="max-width: 90rem;">
                                    <h5 class="card-header">{{current_month}} Payment Log</h5>
                                        <div class="card-body text-primary">
                                            <br>
                                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{current_pper}}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{current_pper}}%"></div>
                                        </div>
                                        <div class = "row">
                                            <div class = "col-6">
                                                <p class="card-text text-success text-start">Total Paid: &#8377;{{current_paid}}</p>
                                            </div>
                                            <div class = "col-6">
                                                <h5 class="card-title text-danger text-end">Total Pay: &#8377;{{current_pay}}</h5>
                                            </div>
                                        </div> 
                                    </div>
                               </div>
                            </div>
                            
                            <div class = "col-6">
                               <div class="card  mb-3 text-center" style="max-width: 90rem;">
                                   <h5 class="card-header">{{second_month}} Payment Log</h5>
                                        <div class="card-body text-primary">
                                            <br>
                                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{second_pper}}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{second_pper}}%"></div>
                                        </div>
                                        <div class = "row">
                                            <div class = "col-6">
                                                <p class="card-text text-success text-start">Total Paid: &#8377;{{second_paid}}</p>
                                            </div>
                                            <div class = "col-6">
                                                <h5 class="card-title text-danger text-end">Total Pay: &#8377;{{second_pay}}</h5>
                                            </div>
                                        </div> 
                                  </div>
                              </div>
                            </div>
                     </div>

                     <div class = "row">
                        <div class = "col-6">
                            <div class="card  mb-3 text-center" style="max-width: 90rem;">
                                <h5 class="card-header">{{third_month}} Payment Log</h5>
                                    <div class="card-body text-primary">
                                        <br>
                                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{third_pper}}" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{third_pper}}%"></div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-6">
                                            <p class="card-text text-success text-start">Total Paid: &#8377;{{third_paid}}</p>
                                        </div>
                                        <div class = "col-6">
                                            <h5 class="card-title text-danger text-end">Total Pay: &#8377;{{third_pay}}</h5>
                                        </div>
                                    </div> 
                                </div>
                           </div>
                        </div>
                        
                        <div class = "col-6">
                           <div class="card  mb-3 text-center" style="max-width: 90rem;">
                               <h5 class="card-header">{{fourth_month}} Payment Log</h5>
                                    <div class="card-body text-primary">
                                        <br>
                                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{fourth_pper}}" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{fourth_pper}}%"></div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-6">
                                            <p class="card-text text-success text-start">Total Paid: &#8377;{{fourth_paid}}</p>
                                        </div>
                                        <div class = "col-6">
                                            <h5 class="card-title text-danger text-end">Total Pay: &#8377;{{fourth_pay}}</h5>
                                        </div>
                                    </div> 
                              </div>
                          </div>
                        </div>
                 </div>

                 <div class = "row">
                    <div class = "col-6">
                        <div class="card  mb-3 text-center" style="max-width: 90rem;">
                            <h5 class="card-header">{{fifth_month}} Payment Log</h5>
                                <div class="card-body text-primary">
                                    <br>
                                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{fifth_pper}}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{fifth_pper}}%"></div>
                                </div>
                                <div class = "row">
                                    <div class = "col-6">
                                        <p class="card-text text-success text-start">Total Paid: &#8377;{{fifth_paid}}</p>
                                    </div>
                                    <div class = "col-6">
                                        <h5 class="card-title text-danger text-end">Total Pay: &#8377;{{fifth_pay}}</h5>
                                    </div>
                                </div> 
                            </div>
                       </div>
                    </div>
                    
                    <div class = "col-6">
                       <div class="card  mb-3 text-center" style="max-width: 90rem;">
                           <h5 class="card-header">{{sixth_month}} Payment Log</h5>
                                <div class="card-body text-primary">
                                    <br>
                                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{sixth_pper}}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{sixth_pper}}%"></div>
                                </div>
                                <div class = "row">
                                    <div class = "col-6">
                                        <p class="card-text text-success text-start">Total Paid: &#8377;{{sixth_paid}}</p>
                                    </div>
                                    <div class = "col-6">
                                        <h5 class="card-title text-danger text-end">Total Pay: &#8377;{{sixth_pay}}</h5>
                                    </div>
                                </div> 
                          </div>
                      </div>
                    </div>
             </div>
                    
       </div>

        {% else %}
            <p class ="text-center text-danger">No results found or you haven't selected any Employee</p>
        {% endif %}
    
</div>


{% endblock content %}
