{% extends 'base.html' %}

{% block title %}
<title>Admin</title>
{% endblock title %}

{% block adminnavbar %}<a class="nav-link active" aria-current="page" href="/local_admin">Admin</a>{% endblock adminnavbar %} 

{% block content %}
<br>
<h1 class = 'text-center'>Admin Panel</h1>
<br>
<div class = "container">
<div class = "row">
    <div class ="col-md-4">
        <div class="card text-bg-dark mb-4">
            <div class="card-header text-center">Employees</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href = "/add_employee" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Add Employee</a></li>
              <li class="list-group-item"><a href = "/manage_employees" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Manage Employee</a></li>
            </ul>
          </div>
    </div>
    <br>
    <div class ="col-md-4">
        <div class="card text-bg-dark mb-4">
            <div class="card-header text-center">Customers</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href = "/add_customer" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Add Customer</a></li>
              <li class="list-group-item"><a href = "/manage_customers" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Manage Customers</a></li>
            </ul>
          </div>
    </div>
    <div class ="col-md-4">
        <div class="card text-bg-dark mb-4">
            <div class="card-header text-center">Items</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href = "/add_item" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Add Item</a></li>
              <li class="list-group-item"><a href = "/manage_items" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Manage Items</a></li>
            </ul>
          </div>
    </div>
    <div class ="col-md-4">
        <div class="card text-bg-dark mb-4">
            <div class="card-header text-center">Item Types</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href = "/manage_itemtype" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Manage Item Type</a></li>
            </ul>
          </div>
    </div>

    <div class ="col-md-4">
      <div class="card text-bg-dark mb-4">
          <div class="card-header text-center">Brands</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href = "/manage_brand" class="link-danger link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Manage Brands</a></li>
          </ul>
        </div>
  </div>

</div>
</div>
{% endblock content %}
