{% extends 'base.html' %}
{% load static %}
<!--{% load static %} : You can load static files from static directory using this -->

{% block title %}
<title>Manage Customers</title>
{% endblock title %}

{% block adminnavbar %}<a class="nav-link active" aria-current="page" href="/local_admin">Admin</a>{% endblock adminnavbar %} 

{% block content %}

<br>
<h1 class = 'text-center'>Manage Customers</h1>
<hr>
<br>

{% for message in messages %}         
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> 
{% endfor %}

{% if customers %}

<div class="container">
  <div class="row">
    <div class="col">
     <br>
     <h4 class = 'text-center'>Update Customer</h4>
     <hr>
     <br>
      <div class="accordion" id="Parent">
        {% for customer in customers %}
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{customer.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                 {{customer.name}}
              </button>
            </h2>
            <div id="{{customer.id}}" class="accordion-collapse collapse" data-bs-parent="#Parent">
              <div class="accordion-body">
              
                <form action = "/update_customer" method = 'POST'>
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-sm-10">
                          <input type="text" readonly class="visually-hidden" id="id" name ="id" value="{{customer.id}}">
                        </div>
                      </div>
                    <div class="row mb-3">
                      <label for="email" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-auto">
                        <input type="email" class="form-control" id="email" name="email" value = "{{customer.email}}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
                      <div class="col-auto">
                        <input type="Number" class="form-control" id="phone" name="phone" value = "{{customer.phone}}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="pay" class="col-sm-2 col-form-label">Address</label>
                      <div class="col-auto">
                        <input type="textarea" class="form-control" id="address" name="address" value = "{{customer.address}}">
                      </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Save</button>
                  </form>

              </div>
            </div>
        </div>
        {% endfor %}
        
    </div>


    </div>
    <div class="col">
      <div class = "container">
      <br>
      <h4 class = 'text-center'>Delete Customer</h4>
      <hr>
      <br>
     
      {% for customer in customers  %}
      <form class="row g-3"action = "/delete_customer" method = 'POST'>
          {% csrf_token %} 
          <div class="col-auto">
            <input type="text" readonly class="visually-hidden" id="id" name = "id" value="{{customer.id}}">
          </div>
          <div class="col-auto">
            <input class="form-control" type="text" id = "name" name = "name" value="{{customer.name}}" aria-label="Disabled input example" disabled readonly>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" disabled>Delete</button>
          </div>
          
        </form>
        {% endfor %}

      </div>

    </div>
  </div>
</div>

{% else %}

<p class ="text-center text-primary">No Customers Found.</p>
{% endif %}

{% endblock content %}