{% extends 'base.html' %}

{% block title %}
<title>Search Employee Bill</title>
{% endblock title %}


{% block content %}
<div class = "container">
    <br>
    <br>

            {% for message in messages %}         
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> 
            {% endfor %}


            <div class="card text-center">
                <h5 class="card-header">
                Search Employee Payment History
                </h5>
                <div class="card-body">
                    {% if employee %}
                    <fieldset disabled>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Data Displayed For Employee</label>
                            <input type="text" id="name" class="form-control" placeholder={{employee}}>
                          </div>
                     </fieldset>

                     <form  action = "/se_billing" method = "GET">
                        <button type="submit" class="btn btn-success mb-3">
                            Get Details for Another Employee 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </button>
                    </form>
                  </button>
                    
                    {% else %}
                    <form class="row" action = "/se_billing" method = "POST">
                        {% csrf_token %}
        
                        <div class="col-auto">
                            <select class="form-select" name = "name" id = "name">
                            <option selected="selected" >Select Employee</option>
                            {% for employee in employees %}
                            <option value="{{employee.name}}">{{employee.name}}</option>
                            {% endfor %}
                            </select>
                        </div>
            
                        <div class="col-auto">
                            <select class="form-select" name = "month" id = "month">
                                <option selected="selected" >Select month</option> 
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>

                        <div class="col-auto">
                            <select class="form-select" name = "year" id = "year">
                            <option selected="selected" >Select Year</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            </select>
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Get Payment Details</button>
                        </div>
                    </form>

                    {% endif %}

                </div>

            </div>

            {% if employee and total_paid == None %}
               <br>
               <p class = "text-center text-danger"> No Transactions found for <b class = "text-primary">{{employee}}</b> for duration : <i class = "text-success">{{month}}-{{year}}</i></p>
            {% elif employee and total_paid %}
               <br>
               
               <h5 class = "text-center">Total Amount Paid : <b class = "text-danger">{{total_paid}}</b> </h5>
               <hr>
               
               <div class = "row">
                <div class = "col-2">
                </div>
                <div class = "col">
                   <br>
                    <div class="card">
                        <h5 class="card-header">
                          Transaction History
                        </h5>
                        <div class="card-body">
                            <table class="table table-dark table-striped table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">SL No.</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Pay</th>
                                  </tr>
                                </thead>
                                <tbody>
        
                                    
                                    {% for l in log %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{l.date}}</td>
                                            <td>&#8377;{{l.pay}}</td>
                                        </tr>
                                   {% endfor %}
                                </tbody>
                              </table>
                        </div>
                      </div>
                </div>
                <div class = "col-2">
                </div>
               </div>

            {% endif %}





</div>
{% endblock content %}